.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.step-center{
display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}



.blinkingtext {
 
  animation: blink 1s infinite;
  font-weight: bold;
  
}

@keyframes blink {
  0% {
    color: blue;
  }

  50% {
    color: #ccc;
  }

  100% {
    color: blue;
  }
}

.normaltext {

  color:rgb(249, 148, 23);
  font-weight: bold;
  font-size: 20px;
}

.donetext {

  color: rgb(101, 136, 100);
  font-weight: bold;
    font-size: 20px;
}



.notstarted {
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

.blinkingtextStatus {

  animation: blink 1s infinite;
  font-weight: bold;
  font-size: 20px;
}

@keyframes blink {
  0% {
    color: blue;
  }

  50% {
    color: #ccc;
  }

  100% {
    color: blue;
  }
}


